<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel</title>

    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/editor.css">
    <link rel="stylesheet" href="../css/blog.css">

    <!-- <script defer src="../js/blog.js" ></script> -->

</head>
<body>
    <nav class="navbar">
        <img src="../img/logo.png" class="logo" alt="">
        <ul class="links-container">
            <li class="link-item"><a href="/" class="link">home</a></li>
        </ul>
    </nav>

    <img src="<%- bannerImage %>" class="banner" id="banner-upload">

    <div class="blog">
        <h1 class="title"> <%- title %> </h1>
        <p class="author"> <%- author %>, <%- publishedAt %> </p>
        <p class="place_visited"> <%- place %> </p>
  
        <div class="ratings">
            Food: <%- food_rating %> <br>
            Safety: <%- saftey_rating %> <br>
            Cost: <%- cost_rating %> <br>
            Accessibility: <%- accessibility_rating %> <br>
            
            Average rating: <%- average_rating %>
        </div>
        <p name="article" class="article"> <%- article %> </p>
    </div>

    <div class="comments">
        <h4>Comments</h4> <br>
        <%- comments %>
    </div>

    <div id="respond">

        <h4>Leave a Comment</h4>
      
        <form  action="/post_comment" method="post" id="commentform">
      
          <label for="comment_author" class="required">Your name</label>
          <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
      
          <label for="email" class="required">Your email</label>
          <input type="email" name="email" id="email" value="" tabindex="2" required="required">
      
          <label for="comment" class="required">Your message</label>
          <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
      
          <input type="hidden" name="blogId" value="<%- docName %>" id="blogId" />
          <!-- <textarea type="hidden" name="blogId" id="blogId"><%- docName %></textarea> -->
          <input name="submit" type="submit" class="btn" value="Submit comment" />
      
        </form>
      
    </div>

    <footer class="footer">
    </footer>

    <!-- <script>
        onsubmit="postComment()"
        function postComment() {
            document.getElementById("blogId").value = docName
        }
    </script> -->

</body>
</html>